
@{
    ViewData["Title"] = "login";
}

<h1>login</h1>
<form action="login" method="post">
    <input type="text" name="username" value="" class="form-control"/>
    <input type="password"  name="userpassword" value="" class="form-control"/>
    <input type="submit" name="name" value="sub" class="btn-info"/>
    
</form>

