@{
    ViewData["Title"] = "Home Page";
}

<form action="/home/filesave" enctype="multipart/form-data" method="post">
    <input type="file" name="files" value="" multiple />
    <input type="submit" value="上交文件" />
</form>

<div>
    <form id="uploadfile">
        <input type="file" name="files" multiple />
        <input type="button" value="Ajax上传" onclick="upload()" />
    </form>
</div>

<div>
    <input type="text" id="filename" /><button onclick="downLoad()">下载</button>
</div>
@section Scripts{
    <script>
        function upload() {
            var formdata = new FormData($("#uploadfile")[0]);

            $.ajax({
                url: '@Url.Action("Filesave")',
                type: 'post',
                data: formdata,
                async: true,
                cache: true,
                contentType: false,
                processData: false,
                success: function (data) {
                    alert("成功");
                },
                error: function (e) {
                    alert(e)
                }
            });
        }

         function downLoad() {
            var filename = $("#filename").val();
            window.location.href = "@Url.Action("DownLoad")?file=" + filename;

        }
    </script>
}